.btnAgregar {
    float: right;
    margin-left: 5px;
    width: 20px;
}

.mover {
    float: right;
}

.mover:hover {
    background-color: #EEEEEE;
    color: #000;
}

.container-add-med {
    margin-left: 2px;
    background-color: white;
    width: 350px;
    height: 540px;
    padding: 0;
    transition: all 0.3s;
    border-radius: 9px;
    box-shadow: 4px 4px 4px 4px rgba(238, 238, 238, 0.892);
}